* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  color: #333333;
  list-style: 190%;
}

#page {
  width: 1120px;
  margin: 88px auto;
  border: 1px solid;
}

.img-introduction {
  border-radius: 28px;
}

img {
  width: 1120px;
}

.card-img {
  height: 350px;
  object-fit: cover;
  border-radius: 28px;
}

.card + .card {
  margin-top: 48px;
}

span {
  color: #e1624f;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.introduction span {
  margin-bottom: 4px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

legend {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  margin-bottom: 40px;
}

#content-list {
  margin-top: 64px;
}

#content-list span {
  margin-bottom: 2px;
}

#content-list h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}

.description {
  margin-bottom: 64px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

.title-list {
  margin-left: 40px;
  margin-bottom: 4px;
}

ol li::marker {
  font-size: 28px;
  font-weight: bold;
}

ul li::marker {
  font-size: 10px;
  font-weight: bold;
}

ul li {
  list-style-type: disc;
}

ul {
  padding-left: 2rem;
}

ul li p {
  color: #0c51a7;
  font-weight: bold;
}

.good-for {
  font-weight: bold;
}

.couple {
  color: #591b98;
}

.family {
  color: #e5245e;
}

.budget {
  color: #e95e10;
}
